body {
    background-color: lightgray;
}

.topThree {
    display: flex;
    justify-content: center;
     padding: 25px;
}

.topBrands {
    display: flex;
    justify-content: center;
    padding: 25px;

}

.card {
    margin: 25px;
}

button {
    width: 290px;
    height: 40px;
    display: block;
    justify-content: center;
    margin: auto;
    background-color: grey;
    
    border-radius: 5px;
    border-color: transparent;
    
}

h2 {
    padding: 50px 0 15px 0;
    text-align: center;
}

.topBrands img {
    height: 200px;
    object-fit: cover;
}